img 
{ 
    height:400px;
    widows: 75px;
    width:800px;
    border-radius: 50px;
    margin-left: 375px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px goldenrod;
    
}

#bio {
    font-size: 40px;
    color:rgb(72, 255, 0);
    text-align: center;
    font-style: italic;
    margin: 15px 10px 15px 10px;
    padding: 10px 5px 10px 5px;
    box-shadow: 5px 5px 5px 5px rgb(72, 255, 0);
    
}

#aboutMe {

    font-size: 40px;
    color: rgb(0, 247, 255);
    text-align: center;
    font-style: italic;
    margin: 45px 10px 45px 10px;
    padding: 15px 10px 15px 10px;
    box-shadow: 5px 5px 5px 5px rgb(0, 247, 255);
}

#myName{
     font-size:30px;
     color:rgb(0, 128, 75);
     text-align: center;
     font-style:italic; 
     margin: 0px 10px 45px 10px;
     padding: 25px 15px 25px 15px;
     box-shadow: 5px 5px 5px 5px rgb(0, 128, 75);
     
}

#skills{
    font-size:40px;
    color:rgb(0, 255, 242);
    text-align: center;
    font-style: italic;
    margin: 0px 10px 45px 10px;
    padding: 15px 5px 15px 5px;
    box-shadow: 5px 5px 5px 5px rgb(0, 247, 255);
}

#lists{
    font-size: 30px;
    color: rgb(0, 128, 75);
    font-style: italic;
    text-align: center;
    list-style-position: inside;
    margin: 0px 10px 45px 10px;
    box-shadow: 5px 5px 5px 5px rgb(0, 128, 75);
}

#contact{
    font-size:40px;
    color:rgb(0, 247, 255);
    text-align: center;
    font-style: italic;
    margin: 0px 10px 45px 10px;
    padding: 15px 5px 15px 5px;
    box-shadow: 5px 5px 5px 5px rgb(0, 247, 255);
}
    


#email{
    font-size:30px;
    color:rgb(17, 0, 255);
    text-align: center;
    font-style: italic;
    margin: 0px 10px 30px 10px;
    padding: 15px 5px 15px 5px;
    box-shadow: 5px 5px 5px 5px rgb(17, 0, 255);
}

body{
    background-color:black;
    
}

.white-box {
    border-style:solid;
    border-radius: 50px;

}





